// Variables
$primary_color : #428BE5;
$secondary_color : white;
$link_color: #428BE5;

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: calibri, arial;

    body {
        font-size: 1.8rem;
        overflow-x: hidden;
    }

    h1, h2, h3, h4 {
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
    }

    a {
        color: $link_color;
    }
}

.inner {
    margin: 0 auto;
    max-width: 860px;
}

form {
    font-size: 1.8rem;
    max-width: 50%;

    input, textarea {
        border: 0;
        width: 100%
    }
    input {
        height: 30px;
    }
    textarea {
        padding: 1px;
    }

    button {
        background: $primary_color;
        border: 0;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        font-size: 2rem;
        color: $secondary_color;
        width: 100%;

        &:hover {
            
        }

        span {
            display: inline-block;
            padding: 5px 20px;
            text-transform: uppercase;
        }
    }
}

#header {
    background: $primary_color;
    padding: 20px;

    h1 {
        color: $secondary_color;
        margin: 0;
        padding: 0;
        padding-right: 60px;
    }
}

#container > nav {
    background: black;
    position: relative;

    .inner {
        overflow: hidden;
    }

    ul {
        padding: 0;
    }

    li {
        float: left;
        list-style-type: none;

        a {
            display: block;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-family: 'Oswald', sans-serif;
            font-weight: 200;

            &:hover {
                background: white;
                color: black;
            }
        }
    }

    &.active {
        right: 0;
    }
}

#main {
    > section > .inner {
        padding: 20px;

        h2 {
            font-size: 3rem;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }
    }
}

#footer {
    background: $primary_color;
    padding: 10px 0;

    ul {
        li {
            a {
                color: $secondary_color;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}


#projects {
    ul {
        overflow: hidden;
        li {
        }
    }
}

#contact {
    background: #333;

    h2 {
        color: white;
    }

    form {
        color: white;

        > div {
            margin-bottom: 10px;

            label {
                display: block;
                margin-bottom: 3px;
            }
        }

        .validation {
        }
    }
}



@media (max-width: 480px) {
    .inner {
        margin: 0 auto;
        max-width: 480px;
    }

    #header {
        .mobile_handler {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            z-index: 100;
            cursor: pointer;

            &:before, &:after, span {
                content: '';
                width: 100%;
                height: 6px;
                background: black;
                position: absolute;
                border-radius: 3px;
            }

            &:before {
                top: 3px;
            }
            &:after {
                bottom: 4px;
            }
            span {
                top: 50%;
                margin-top: -3px;
            }

            &.active {
                &:before, &:after, span {
                    background: white;
                }
                &:before {
                    transform: rotate(45deg);
                    top: 50%;
                }
                &:after {
                    transform: rotate(-45deg);
                    top: 50%;
                    bottom: 0;
                }
                span {
                    opacity: 0;
                }
            }
        }
    }

    #container > nav {
        position: absolute;
        height: 100%;
        right: -220px;
        top: 0;
        width: 220px;

        ul {
            padding-top: 10px;
        }

        li {
            float: none;

            a:hover {
                background: black;
                color: white;
            }
        }
    }
}




