html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: calibri, arial; }
  html body {
    font-size: 1.8rem;
    overflow-x: hidden; }
  html h1, html h2, html h3, html h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200; }
  html a {
    color: #428BE5; }

.inner {
  margin: 0 auto;
  max-width: 860px; }

form {
  font-size: 1.8rem;
  max-width: 50%; }
  form input, form textarea {
    border: 0;
    width: 100%; }
  form input {
    height: 30px; }
  form textarea {
    padding: 1px; }
  form button {
    background: #428BE5;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: white;
    width: 100%; }
    form button span {
      display: inline-block;
      padding: 5px 20px;
      text-transform: uppercase; }

#header {
  background: #428BE5;
  padding: 20px; }
  #header h1 {
    color: white;
    margin: 0;
    padding: 0;
    padding-right: 60px; }

#container > nav {
  background: black;
  position: relative; }
  #container > nav .inner {
    overflow: hidden; }
  #container > nav ul {
    padding: 0; }
  #container > nav li {
    float: left;
    list-style-type: none; }
    #container > nav li a {
      display: block;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 200; }
      #container > nav li a:hover {
        background: white;
        color: black; }
  #container > nav.active {
    right: 0; }

#main > section > .inner {
  padding: 20px; }
  #main > section > .inner h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 20px; }

#footer {
  background: #428BE5;
  padding: 10px 0; }
  #footer ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }

#projects ul {
  overflow: hidden; }

#contact {
  background: #333; }
  #contact h2 {
    color: white; }
  #contact form {
    color: white; }
    #contact form > div {
      margin-bottom: 10px; }
      #contact form > div label {
        display: block;
        margin-bottom: 3px; }

@media (max-width: 480px) {
  .inner {
    margin: 0 auto;
    max-width: 480px; }
  #header .mobile_handler {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 100;
    cursor: pointer; }
    #header .mobile_handler:before, #header .mobile_handler:after, #header .mobile_handler span {
      content: '';
      width: 100%;
      height: 6px;
      background: black;
      position: absolute;
      border-radius: 3px; }
    #header .mobile_handler:before {
      top: 3px; }
    #header .mobile_handler:after {
      bottom: 4px; }
    #header .mobile_handler span {
      top: 50%;
      margin-top: -3px; }
    #header .mobile_handler.active:before, #header .mobile_handler.active:after, #header .mobile_handler.active span {
      background: white; }
    #header .mobile_handler.active:before {
      transform: rotate(45deg);
      top: 50%; }
    #header .mobile_handler.active:after {
      transform: rotate(-45deg);
      top: 50%;
      bottom: 0; }
    #header .mobile_handler.active span {
      opacity: 0; }
  #container > nav {
    position: absolute;
    height: 100%;
    right: -220px;
    top: 0;
    width: 220px; }
    #container > nav ul {
      padding-top: 10px; }
    #container > nav li {
      float: none; }
      #container > nav li a:hover {
        background: black;
        color: white; } }
